.vertical-center {
     min-height: 100%;
     min-height: 100vh;
     display: flex;
     align-items: center;
}
 .loading:after {
     content: ' .';
     animation: dots 1s steps(5, end) infinite;
}
 @keyframes dots {
     0%, 20% {
         color: rgba(0, 0, 0, 0);
         text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
     40% {
         color: white;
         text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
     60% {
         text-shadow: .25em 0 0 white, .5em 0 0 rgba(0, 0, 0, 0);
    }
     80%, 100% {
         text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}
 .load {
     -webkit-animation-name: load;
     -webkit-animation-duration: 3s;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-timing-function: ease;
     -webkit-animation-fill-mode: forwards;
}
 @-webkit-keyframes load {
     from {
         -webkit-transform: scale(0.8);
    }
     to {
         -webkit-transform: scale(1);
    }
}
 .leave {
     -webkit-animation-name: leave;
     -webkit-animation-duration: 1.5s;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-timing-function: ease;
     -webkit-animation-fill-mode: forwards;
}
 @-webkit-keyframes leave {
     from {
         -webkit-transform: scale(1);
    }
     to {
         -webkit-transform: scale(0);
    }
}
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #e4e2ff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #e4e2ff;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #e4e2ff;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #e4e2ff;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #e4e2ff;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #e4e2ff;
  }
}
